<div class="yourlanes lanetitle">
  <h1>Your lanes
    <form action="/users/<%=current_user.id%>/lanes/new" method="GET">
      <div id="button"><input class ="keybuttons" type='submit' value="Create New Lane"/></div>
    </form>
  </h1>
</div>

<div class="memoryelement yourlanes">
  <% if !current_user.lanes.empty? %>
    <% current_user.lanes.each do |lane| %>
      <a href = "/users/<%=current_user.id%>/lanes/<%=lane.id%>">
        <h3>Your Lane with:
          <%=current_user.list(lane.users)%><br>
          <% lane.users.each do |user| %>
            <img width="50" height="60" src="/<%= user.profile_pic_file_path %>">
          <% end %>
        </h3>
      </a>
    <% end %>
  <% else %>
    <h3>Welcome to Memory Lane!</h3>
    <p>Before you can start adding memories, you need to create a lane.
      Click on the 'Create New Lane' button to get started!</p>
  <% end %>
</div>
