<h1>Memory Lane with:
  <% @lane.users.each do |user| %>
    <%= user.name if user != @user %>
  <% end %>
</h1>

<p><a href="/users/<%=@user.id%>/memories/new">Create New Memory</a></p>

<div>
  <% @lane.memories.each do |memory| %>
    <h3 style="display: inline"> Memory: <%= memory.title %> <br>
         Location: <%= memory.location %> <br>
         Date: <%= memory.date %><br> </h3>
         <h6 style="display: inline">Created by <%=memory.creator.name %>

           <% if memory.creator == @user %>
             <a>Edit</a>
           <% end %>

         </h6>

      <br><br>

      <% memory.recollections.each do |recollection| %>
        <p style="display: inline">Recollection by <%=recollection.user.name %>
          <% if recollection.user == @user %>
            <a>Edit</a>
          <% end %>

          <br>

          <% if !recollection.anecdote.nil? %>
            <%= "Anecdote: " + recollection.anecdote %><br>
          <% end %>

          <% if !recollection.quote.nil? %>
            <%= "Quote: " + recollection.quote%><br>
          <% end %>

          <% if !recollection.joke.nil? %>
            <%= "Joke: " + recollection.joke %><br>
          <% end %>

          <br>

        </p>
      <% end %>

      <% if memory.recollections.none? {|recollection| recollection.user == @user} %>
        <form method="GET" action="/users/<%=@user.id%>/memories/<%=memory.id%>/recollections/new">
          <input type='submit' value='Add Your Recollection'>
        </form>
      <% end %>

    <% end %>

</div>


<p><a href="/users/<%=@user.id%>/lanes">Back to Lanes</a></p>
