<h1>Memory Lane with:
  <% @lane.users.each do |user| %>
    <%= user.name if user != @user %>
  <% end %>
</h1>


<div>
  <% @lane.memories.each do |memory| %>
    <h3> Memory: <%= memory.title %> <br>
         Location: <%= memory.location %> <br>
         Date: <%= memory.date %> </h3>

      <% memory.recollections.each do |recollection| %>
        <p>Recollection by <%=recollection.user.name %>: <br>
          Anecdote: <%=recollection.anecdote %><br>
          Quote: <%=recollection.quote %><br>
          Joke: <%=recollection.joke %>
        </p>
      <% end %>
  <% end %>
</div>


<p><a href="/users/<%=@user.id%>/lanes">Back to Lanes</a></p>
