<h1>Memory Lane with:
  <% @lane.users.each do |user| %>
    <%= user.name if user != @user %>
  <% end %>
</h1>


<div>
  <% @lane.memories.each do |memory| %>
    <h3> Memory: <%= memory.title %> <br>
         Location: <%= memory.location %> <br>
         Date: <%= memory.date %> </h3>

      <% memory.recollections.each do |recollection| %>
        <p>Recollection by <%=recollection.user.name %>: <br>
          <%= "Anecdote: " + recollection.anecdote if !recollection.anecdote.nil?%><br>
          <%= "Quote: " + recollection.quote if !recollection.quote.nil?%><br>
          <%= "Joke: " + recollection.joke if !recollection.joke.nil? %>
        </p>
      <% end %>
  <% end %>
</div>


<p><a href="/users/<%=@user.id%>/lanes">Back to Lanes</a></p>
