<div class="lanetitle">

  <div class="lanetitle left">
    <h1>
      <div id="big">Your Lane with</div><br>
      <div id="little"><%= @user.list(@lane.users) %></div>
      <form action="/users/<%=@user.id%>/memories/new" method="GET">
        <div id="button"><input class ="keybuttons" type='submit' value="Create New Memory"/></div>
      </form>
    </h1>
  </div>

  <div class="lanetitle right">
    <div id="laneimages">
      <% @lane.users.each do |user| %>
        <img width="60" height="70" src="/<%= user.profile_pic_file_path %>">
      <% end %>
    </div>
  </div>

</div>

<div class="memorydisplay">
  <% @lane.memories.sorted_by_newest.each do |memory| %>
    <div class="memoryelement">
      <div class="memorytitle">
        <h3 style="display: inline">
          Memory: <%= memory.title %> <br>
          Location: <%= memory.location %> <br>
          Date: <%= memory.display_date %><br>
        </h3>
        <h6 style="display: inline">
          Created by <%=memory.creator.name %>
          <% if memory.creator == @user %>
            <a href="/users/<%=@user.id%>/memories/<%=memory.id%>/edit">Edit</a>
          <% end %>
        </h6>
      </div>

      <br><br>

      <div id="addapicture">
        <form method="GET" action="/users/<%=@user.id%>/memories/<%=memory.id%>/images/new">
          <input type='submit' value='Add A Picture'>
        </form>
      </div>

      <div class="memoryimages">
        <% memory.photos.each do |photo| %>
          <% if !photo.file_path.nil?%>
            <div>
              <a href="/users/<%=@user.id%>/memories/<%=memory.id%>/images/<%=photo.id%>">
                <img height="200" src="../../../<%= photo.file_path %>" />
              </a><br>
              <h6 style="display: inline">photo by <%=photo.user.name%>
                <% if photo.user == @user %>
                  <form style="display: inline" method="POST" action="/users/<%=@user.id%>/memories/<%=memory.id%>/images/<%=photo.id%>">
                    <input type="hidden" method="hidden" name="_method" value="DELETE">
                    <input type="submit" value="delete">
                  </form>
                <% end %>
              </h6>
            </div>
          <% end %>
        <% end %>
      </div>

      <br><br>

      <form method="GET" action="/users/<%=@user.id%>/memories/<%=memory.id%>/recollections/new">
        <input type='submit' value='Add A Recollection'>
      </form>

      <div class="memoryrecollections">
        <% memory.recollections.each do |recollection| %>
          <div class="recollection">
            <% if !recollection.user.profile_pic_file_path.nil?%>
              <img width="40" height="46" src="/<%= recollection.user.profile_pic_file_path %>" />
            <% end %>

            <div id="recollectionby">Recollection by <%=recollection.user.name %>
              <% if recollection.user == @user %>
                <form style="display: inline" method="GET" action="/users/<%=@user.id%>/memories/<%=memory.id%>/recollections/<%=recollection.id%>/edit">
                  <input type='submit' value='Edit'>
                </form>
              <% end %>
            </div>

            <br>

            <% if !recollection.anecdote.nil? %>
              <%= "Anecdote: " + recollection.anecdote %><br>
            <% end %>

            <% if !recollection.quote.nil? %>
              <br><%= "Quote: " + recollection.quote%><br>
            <% end %>

            <% if !recollection.joke.nil? %>
              <br><%= "Joke: " + recollection.joke %><br>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
