<div class="myforms newmemory">

  <h1>Edit your recollection</h1>

  <form style="display: inline" method="POST" action="/users/<%=@user.id%>/memories/<%=@memory.id%>/recollections/<%=@recollection.id%>">
    <input method="hidden" type="hidden" name="_method" value="PATCH"/>

    <p>
    Title: <%= @memory.title %><br>
    Location: <%= @memory.location %><br>
    Date: <%= @memory.display_date %><br>
    </p>

    <h3>Edit Your Recollection</h3>

    <p>Anecdote<br>
    <textarea type='text' rows="4" cols="50" name="recollection[anecdote]"><%=@recollection.anecdote%></textarea>
    </p>

    <p>Joke<br>
    <textarea type='text' rows="2" cols="50" name="recollection[joke]"><%=@recollection.joke%></textarea>
    </p>

    <p>Quote<br>
    <textarea type='text' rows="2" cols="50" name="recollection[quote]"><%=@recollection.quote%></textarea>
    </p>

    <input type='submit' value="Save"/>
  </form>

  <form style="display: inline" method="POST" action="/users/<%=@user.id%>/memories/<%=@memory.id%>/recollections/<%=@recollection.id%>">
    <input method="hidden" type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete"/>
  </form>
</div> 
