


<form method="POST" action="/users/<%=@user.id%>/memories/<%=@memory.id%>/recollections">

  <p>
  Title: <%= @memory.title %><br>
  Location: <%= @memory.location %><br>
  Date: <%= @memory.date %><br>
  </p>

  <h3>Add Your Recollection</h3>

  <p>Anecdote<br>
  <textarea type='text' rows="4" cols="50" name="recollection[anecdote]" placeholder="Got any interesting stories from this memory?"></textarea>
  </p>

  <p>Joke<br>
  <textarea type='text' rows="2" cols="50" name="recollection[joke]" placeholder="Optional: Add a memorable joke!"></textarea>
  </p>

  <p>Quote<br>
  <textarea type='text' rows="2" cols="50" name="recollection[quote]" placeholder="Optional: Think of a memorable quote?"></textarea>
  </p>

  <input type='submit' value="Add Recollection"/>
</form>
