
<div class="myforms newmemory">
  <h1>Edit your Memory!</h1>

  <form style="display: inline" method="POST" action="/users/<%=@user.id%>/memories/<%=@memory.id%>">

    <input method="hidden" type="hidden" name="_method" value="PATCH"/>

    <p>
    Title: <input type="text" name="memory[title]" required value="<%=@memory.title%>"/><br><br>
    Location: <input type="text" name="memory[location]" required value="<%=@memory.location%>"/><br><br>
    Date: <input type="text" name="memory[date]" required value="<%=@memory.date_for_input_field%>" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"/>
    ex: 03-28-1984
    </p>

    <input type='submit' value='Save'/>

  </form>

  <form style="display: inline" method="POST" action="/users/<%=@user.id%>/memories/<%=@memory.id%>">
    <input method="hidden" type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete"/>
  </form>
</div>
