<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles.css" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="header">
        <h1 id="logo">Memory<span>Lane</span></h1>
        <% if logged_in? %>
          <div id="lanenav">
          <form method="POST" action="/users/<%=current_user.id%>/lanes/jumpto">
            <select name="lane">
              <% current_user.lanes.each do |lane| %>
                <option value="<%=lane.id%>">
                <% lane.users.each do |user| %>
                  <%= user.name.split(" ").first if user != current_user %>
                <% end %>
                </option>
              <% end %>
              <option value="new_lane">Create New Lane</option> 
            </select>

            <input type="submit" value="Go To Lane">
          </form>
          </div>
        <% end %>

        <% if logged_in? %>
          <span class="profilephoto"><a href="/users/<%=current_user.id%>"><img width="40" height="47" src="../../../<%= current_user.profile_pic_file_path %>"></a></span>
        <% else %>
          <span class="profilephoto"><a href="/login"><img width="40" height="47" src="../../../silhouette.png"><a></span>
        <% end %>

        <% if !logged_in? %>
          <h5 id="login" class="buttons"><a href="/login">Log in</a></h5>
          <h5 class="buttons"><a href="/signup">Sign Up</a></h5>
        <% else %>
          <h5 class="buttons"><a href="/logout">Logout</a></h5>
        <% end %>

      </div>

      <div class="sidebar">
        <h3>Lane</h3>
        <h3>Another Lane</h3>
        <h3>More Lanes</h3>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">
        <h6>Created by Adam Sarli</h6>
      </div>

    </div>

  </body>
</html>
