<div class="picnav"/>

<div class="backtolane">
  <form method="GET" action="/users/<%=@user.id%>/memories">
    <input type="submit" value="Back to Memories"/>
  </form>
</div>

  <% if !@previous.nil?%>
    <form method="GET" action="/users/<%=@user.id%>/images/<%=@previous.id%>">
      <input type="submit" value="Previous"/>
    </form>
  <% end %>

  <% if !@next.nil?%>
    <form method="GET" action="/users/<%=@user.id%>/images/<%=@next.id%>">
      <input type="submit" value="Next"/>
    </form>
  <% end %>
</div>

<div class="showpic">
  <img src="/<%= @image.file_path %>" />
</div>
