<div class="picnav"/>

<div class="backtolane">
  <form method="GET" action="/users/<%=@user.id%>/memories">
    <input type="submit" value="Back to Memories"/>
  </form>
</div>

  <% if !@previous.nil?%>
    <form method="GET" action="/users/<%=@user.id%>/images/<%=@previous.id%>">
      <input type="submit" value="Previous"/>
    </form>
  <% end %>

  <% if !@next.nil?%>
    <form method="GET" action="/users/<%=@user.id%>/images/<%=@next.id%>">
      <input type="submit" value="Next"/>
    </form>
  <% end %>
</div>

<div class="showpic">
  <img src="/<%= @image.file_path %>" /><br>
  <p style="display: inline"><%=@image.caption%></p><br>
  <h6 style="display: inline">photo by <%=@image.user.name%>
    <% if @image.user == @user %>
      <form style="display: inline" method="POST" action="/users/<%=@user.id%>/memories/<%=@image.memory.id%>/images/<%=@image.id%>">
        <input type="hidden" method="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
      </form>
    <% end %>
  </h6>
</div>
